.post-img{
   margin-top: 20px;
   width: auto;
   max-width: 500px;
}
.post-img2{
   margin-top: 20px;
   width: auto;
   max-width: 800px;
}
.highlight pre{
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
}
.highlight pre {
    margin-bottom: 0;
    word-break: normal;
}
